# Some macros in this file taken from: https://github.com/viesturz/klipper-toolchanger/blob/main/macros.cfg
#####################################################################
#  DOCK_SEQUENCE
#####################################################################

[gcode_macro DOCK_SEQUENCE]
description: Run a docking sequence for both tool heads, with number of times.
  Usage: DOCK_SEQUENCE REPS={x (default 10)} DELAY={time in seconds}
gcode:
  {% for i in range(0, params.REPS|default(10)|int)  %}
    T0
    G4 P{params.DELAY|default(1)|float * 1000.0}
    T1
    G4 P{params.DELAY|default(1)|float * 1000.0}
  {% endfor %}
  ## Leave T0 active last
  T0


#####################################################################
#   _WAIT_FOR_TEMP_WITHIN_TOLERANCE
#####################################################################

[gcode_macro _WAIT_FOR_TEMP_WITHIN_TOLERANCE]
description: Wait for temperature to get within tolerance
gcode:
    {% set tolerance = params.TOLERANCE | float  %}
    {% set actual = printer[params.HEATER].temperature | float %}
    {% set target = printer[params.HEATER].target | float %}
    {% if target != 0 and ((actual < (target - tolerance)) or (actual > (target + tolerance))) %}
        { action_respond_info('Extruder temperature %.1fC is not within %.1fC of %.1fC target; waiting...' % (actual, tolerance, target)) }
        RESPOND TYPE=echo MSG='TEMPERATURE_WAIT SENSOR={params.HEATER} MINIMUM={target - tolerance} MAXIMUM={target + tolerance}'
        TEMPERATURE_WAIT SENSOR={params.HEATER} MINIMUM={target - tolerance} MAXIMUM={target + tolerance}
    {% endif %}

#####################################################################
#   M104
#####################################################################

[gcode_macro M104]
rename_existing: M104.1
description: [T<index>] [S<temperature>]
  Set tool temperature.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
    {% if params.T is defined %}
      {% set newparameters = "" %}
      {% set newparameters = newparameters ~ " T="~params.T %}
      {% if params.S is defined %}
        {% set newparameters = newparameters ~ " TARGET="~params.S %}
      {% endif %}
      SET_TOOL_TEMPERATURE{newparameters}
    {% else %}
      M104.1 {rawparams}
    {% endif %}

#####################################################################
#   M109
#####################################################################

[gcode_macro M109]
rename_existing: M109.1
description: [T<index>] [S<temperature>]
  Set tool temperature and wait.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
    {% if params.T is defined %}
      {% set newparameters = "" %}
      {% set newparameters = newparameters ~ " T="~params.T %}
      {% if params.S is defined %}
        {% set newparameters = newparameters ~ " TARGET="~params.S %}
      {% endif %}
      SET_TOOL_TEMPERATURE WAIT=1 {newparameters}
    {% else %}
      M109.1 {rawparams}
    {% endif %}

#####################################################################
#   M106
#####################################################################

[gcode_macro M106]
rename_existing: M106.1
description: Override "M106" to account for multiple extruders.
gcode:
    {% set raw_speed = params.S|default(255)|float %}
    {% set fan_speed = (raw_speed / 255.0)|round(2) %}
    {% set fan_tool = 0 if (printer.toolchanger.tool_number|string) == "-1" else printer.toolchanger.tool_number|string %}
    {% if (params.P) is defined %}
      {% set P_fan = "part_fan_t" + params.P|string %}
      SET_FAN_SPEED FAN={P_fan} SPEED={fan_speed}
    {% else %}
      SET_FAN_SPEED FAN="part_fan_t{fan_tool}" SPEED={fan_speed}
    {% endif %}

#####################################################################
#   M107
#####################################################################

[gcode_macro M107]
rename_existing: M107.1
description: Override "M107" to account for multiple extruders.
gcode:
    # If we specified a fan, turn it off
    {% if (params.P) is defined %}
      M106 S0 P{params.P}
    {% else %}
      # Otherwise, turn off all part cooling fans
      {% set num_tools = printer.toolchanger.tool_numbers|length|int %}
      # Loop through the tools.
      {% for i in range(num_tools) %}
        # Turn off the fans
        M106 S0 P{i}
      {% endfor %}
    {% endif %}
